<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>会员注册简介</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="/sui-mobile/css/sm.css">
<link rel="stylesheet" href="/sui-mobile/css/sm-extend.css">
<script src="/jquery-weui/js/jquery-3.3.1.js"></script>
<script src="/jquery-validate/jquery.validate.min.js"></script>
<script src="/js/hyzc.js"></script>
</head>
<body>
<form id="jjForm" method="get" action="hyzc">
	<div class="content-padded">
		<h4 align="center">智慧社区会员注册登记表简介</h4>
		<p>
			&emsp;亲爱的朋友，你好！感谢你的加入智慧社区大家庭！为改善我们的服务工作、提高服务水平，以便更好的为会员服务。(请会员务必认真填写)，您的需求就是我们工作的目标，所以请您留下您的宝贵建议。谢谢您的合作！</p>
		<p>
			<a href="javascript:go_zc()" id="go_zc"
				class="button button-big button-fill button-success button-round">确认</a>
		</p>
	</div>
</form>
	<script type='text/javascript' src='/sui-mobile/js/zepto.js'
		charset='utf-8'></script>
	<script type='text/javascript' src='/sui-mobile/js/sm.js'
		charset='utf-8'></script>
	<script type='text/javascript' src='/sui-mobile/js/sm-extend.js'
		charset='utf-8'></script>
</body>
</html>